{% extends "base.html" %}
{% block title %}PyCRM: Administración Tareas{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
              <div class="d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none">
                <img class="pt-1" src="{{ url_for("static", filename="img/logo.png") }}" alt="Logo" width="100%">
              </div>
              <ul class="col-12 col-md-auto mb-2 justify-content-center mb-md-0 nav nav-tabs">
                <li class="nav-item"><a href="/admin/tareas/" class="nav-link px-3 active" title="Tareas"><i class="bi bi-list-task"></i> Tareas</a></li>
                <li class="nav-item"><a href="/admin/trabajadores/" class="nav-link px-3 link-dark" title="Trabajadores"><i class="bi bi-people" ></i> Trabajadores</a></li>
                <li class="nav-item"><a href="/admin/clientes/" class="nav-link px-3 link-dark" title="Clientes"><i class="bi bi-buildings"></i> Clientes</a></li>
                <li><a href="/admin/recompensas/" class="nav-link px-3 link-dark" title="Recompensas"><i class="bi bi-cash"></i> Recompensas</a></li>
              </ul>
              <div class="col-md-3 text-end">
                    <a class="btn btn-primary btn-login dropdown-toggle" href="#" role="button" id="dropdownMenuUser" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-check"></i> Conectado como: {{ session.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuUser">
                        {% if session.username == "admin" %}
                        <li><a class="dropdown-item" href="{{url_for('logout')}}"><i class="bi bi-door-closed"></i> Cerrar Sesión</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="#" title="Editar Perfil" data-toggle="modal" data-target="#modaleditTrabajador{{ idUsuarioLogeado[0] }}"><i class="bi bi-pencil"></i> Editar Perfil</a></li>
                        <li><a class="dropdown-item" href="{{url_for('logout')}}"><i class="bi bi-door-closed"></i> Cerrar Sesión</a></li>
                        {% endif %}
                    </ul>
              </div>
            </header>
        </div>
        {% with mensajes = get_flashed_messages(category_filter=["guardada", "actualizada", "tarea-sin-cambios", "tarea-borrada"]) %}
            {% if mensajes %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for mensaje in mensajes %}
                  {{ mensaje }}
                {% endfor %}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {% endif %}
          {% endwith %}
          {% with mensajes = get_flashed_messages(category_filter=["tarea-ninguna","tarea-finalizada"]) %}
            {% if mensajes %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% for mensaje in mensajes %}
                  {{ mensaje }}
                {% endfor %}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {% endif %}
          {% endwith %}
            <span class="col-md-12 mt-4">
                <div class="dropdown mb-4">
                    <a class="btn btn-success btn-guardar" data-toggle="modal" data-target="#modalguardar" title="Añadir Tarea"><i class="bi bi-plus-square"></i> Añadir Tarea</a>
                    <a class="btn btn-secondary dropdown-toggle btn-ordenar" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" title="Ordenar por...">
                        <i class="bi bi-funnel"></i> Ordenar por...
                    </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="/admin/tareas/cliente/" title="Ordenar por Cliente"><i class="bi bi-buildings"></i> Cliente</a></li>
                        <li><a class="dropdown-item" href="/admin/tareas/ordenar-estado/" title="Ordenar por Estado"><i class="bi bi-clipboard2-data"></i> Estado</a></li>
                        <li><a class="dropdown-item" href="/admin/tareas/" title="Ordenar por Fecha"><i class="bi bi-calendar"></i> Fecha</a></li>
                        <li><a class="dropdown-item" href="/admin/tareas/ordenar-nombre-trabajador/" title="Ordenar por Nombre de Trabajador"><i class="bi bi-person"></i> Trabajador</a></li>
                        <li><a class="dropdown-item" href="/admin/tareas/ordenar-prioridad/" title="Ordenar por Prioridad"><i class="bi bi-clock-history"></i> Prioridad</a></li>
                      </ul>
                </div>
                <div class="dropdown-izquierda mb-4">
                    <a class="btn btn-secondary dropdown-toggle btn-ordenar" href="#" role="button" id="dropdownMenuLinkIzquierda" data-bs-toggle="dropdown" aria-expanded="false" title="Contador de tareas">
                        <i class="bi bi-list-ol"></i> Contador de Tareas
                    </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li class="dropdown-item">Alta: {{ tareasAlta[0] }}</li>
                        <li class="dropdown-item">Media: {{ tareasMedia[0] }}</li>
                        <li class="dropdown-item">Baja: {{ tareasBaja[0] }}</li>
                      </ul>
                    <div class="btn btn-success" ><i class="bi bi-trophy"></i> Tareas Finalizadas: {{ tareasFinalizadas[0] }}</div>
                </div>
            </span>
            <!--Guardar Tarea-->
            <div id="modalguardar" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="cabecera-modales"><h3>Añadir Tarea</h3></div>
                            <form action="/admin/tareas/guardar" method="post">
                                <div class="form-group">
                                    <select class="custom-select" name="selectGuardarCliente" id="selectGuardarCliente" required>
                                        <option value="">Elegir Cliente</option>
                                        {% for cliente in clientes %}
                                        <option value="{{ cliente[0] }}">{{ cliente[2] }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" class="form-control" name="txtGuardarTitulo" id="txtGuardarTitulo" aria-describedby="helpId" placeholder="Título Tarea" maxlength="25" required>
                                    <textarea type="text" class="form-control" name="txtGuardarDescripcion" id="txtGuardarDescripcion" aria-describedby="helpId" placeholder="Decripción Tarea" maxlength="280" required /></textarea>
                                    <select class="custom-select" name="selectGuardarTrabajador" id="selectGuardarTrabajador" required>
                                        <option value="">Elegir Trabajador</option>
                                        {% for trabajador in trabajadores %}
                                        <option value="{{ trabajador[0] }}">{{ trabajador[2] }}</option>
                                        {% endfor %}
                                    </select>
                                    <select class="custom-select" name="selectGuardarEstado" id="selectGuardarEstado" required>
                                        <option value="">Elegir Estado</option>
                                        <option value="Por empezar">Por empezar</option>
                                        <option value="En proceso">En proceso</option>
                                        <option value="Finalizada">Finalizada</option>
                                    </select>
                                    <select class="custom-select" name="selectGuardarPrioridad" id="selectGuardarPrioridad" required>
                                        <option value="">Elegir Prioridad</option>
                                        <option value="Baja">Baja</option>
                                        <option value="Media">Media</option>
                                        <option value="Alta">Alta</option>
                                    </select>
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                    <a href="/admin/tareas/" class="btn btn-primary btn-login">Cerrar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <!--mostrar tarea-->
            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th><i class="bi bi-calendar"></i> Fecha</th>
                    <th><i class="bi bi-calendar-event"></i>  Fecha A.P.</th>
                    <th><i class="bi bi-buildings"></i> Cliente</th>
                    <th><i class="bi bi-card-heading"></i> Título</th>
                    <th><i class="bi bi-person"></i> Trabajador</th>
                    <th><i class="bi bi-clipboard2-data"></i> Estado</th>
                    <th><i class="bi bi-clock-history"></i> Prioridad</th>
                    <th><i class="bi bi-database"></i> Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for tarea in tareas %}
                <tr>
                    <td>{{ tarea[3].strftime('%d-%m-%Y') }}</td>
                    <td>{{ tarea[9].strftime('%d-%m-%Y') }}</td>
                    <td>{{ tarea[16] }}</td>
                    <td>{{ tarea[4] }}</td>
                    <td>{{ tarea[12] }}</td>
                    {% if tarea[6] == "Por empezar" %}
                    <td><span><i class="bi bi-hourglass"></i> {{ tarea[6] }}</span></td>
                    {% elif tarea[6] == "En proceso" %}
                    <td><span><i class="bi bi-hourglass-split"></i> {{ tarea[6] }}</span></td>
                    {% else %}
                    <td><span><i class="bi bi-trophy"></i> {{ tarea[6] }}</span></td>
                    {% endif %}
                    {% if tarea[7] == "Alta" %}
                    <td class="Alta"><span>{{ tarea[7] }}</span></td>
                    {% elif tarea[7] == "Media" %}
                    <td class="Media"><span>{{ tarea[7] }}</span></td>
                    {% elif tarea[7] == "Baja" %}
                    <td class="Baja"><span>{{ tarea[7] }}</span></td>
                    {% elif tarea[7] == "Ninguna" %}
                    <td class="Ninguna"><span>{{ tarea[7] }}</span></td>
                    {% elif tarea[7] == "Agotada" %}
                    <td class="Agotada"><span>{{ tarea[7] }}</span></td>
                    {% endif %}
                    <td>
                        <a href="/admin/tareas/editar/{{ tarea[0] }}" class="btn btn-warning btn-editar" title="Detalles / Editar Tarea" data-toggle="modal" data-target="#modaledit{{ tarea[0] }}"><i class="bi bi-pencil"></i></a>
                        <a href="/admin/tareas/borrar/{{ tarea[0] }}" class="btn btn-danger btn-borrar" data-toggle="modal" data-target="#modaldelete{{ tarea[0] }}" title="Borrar Tarea"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                </tbody>
                <!--Modal Borrar-->
                <div id="modaldelete{{ tarea[0] }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">¿Seguro que quieres borrar la tarea {{ tarea[4] }} ?</h5>
                            </div>
                        <div class="modal-footer">
                            <a href="/admin/tareas/borrar/{{ tarea[0] }}" class="btn btn-success">Si</a>
                            <a href="/admin/tareas/" class="btn btn-primary btn-login">No</a>
                        </div>
                        </div>
                    </div>
                </div>
                <!--Modal Editar-->
                <div id="modaledit{{ tarea[0] }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="cabecera-modales"><h4>Editar Tarea: {{ tarea[4] }}</h4></div>
                                <form action="/admin/tareas/actualizar" method="post">
                                    <div class="form-group">
                                    <input hidden type="text" class="form-control" name="txtId" id="txtId" aria-describedby="helpId" value="{{ tarea[0] }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Entrada</label>
                                            <input type="text" class="form-control" name="txtFecha" id="txtFecha" aria-describedby="helpId" value="{{ tarea[3].strftime('%d-%m-%Y') }}" disabled>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Fin</label>
                                            <input type="text" class="form-control" name="txtFechaFin" id="txtFechaFin" aria-describedby="helpId" value="{{ tarea[8].strftime('%d-%m-%Y') }}" disabled>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Actualización</label>
                                            <input type="text" class="form-control" name="txtActualizacionPrioridad" id="txtActualizacionPrioridad" aria-describedby="helpId" value="{{ tarea[9].strftime('%d-%m-%Y') }}" disabled>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Cliente</label>
                                            <select class="custom-select" name="selectCliente" id="selectCliente" hidden>
                                                <option value="{{ tarea[2] }}">{{ tarea[16] }}</option>
                                                {% for cliente in clientes %}
                                                <option value="{{ cliente[0] }}">{{ cliente[2] }}</option>
                                                {% endfor %}
                                            </select>
                                            <select class="custom-select" name="selectNuevoCliente" id="selectNuevoCliente">
                                                <option value="{{ tarea[2] }}">{{ tarea[16] }}</option>
                                                {% for cliente in clientes %}
                                                <option value="{{ cliente[0] }}">{{ cliente[2] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Título</label>
                                            <input type="text" class="form-control" name="txtTitulo" id="txtTitulo" aria-describedby="helpId" value="{{ tarea[4] }}" hidden>
                                            <input type="text" class="form-control" name="txtNuevoTitulo" id="txtNuevoTitulo" aria-describedby="helpId" value="{{ tarea[4] }}">
                                            <label>Descripción</label>
                                            <textarea class="form-control" name="txtDescripcion" id="txtDescripcion" aria-describedby="helpId" hidden>{{ tarea[5] }}</textarea>
                                            <textarea class="form-control" name="txtNuevaDescripcion" id="txtNuevaDescripcion" aria-describedby="helpId">{{ tarea[5] }}</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Trabajador</label>
                                            <select class="custom-select" name="selectTrabajador" id="selectTrabajador" hidden>
                                                <option value="{{ tarea[1] }}">{{ tarea[12] }}</option>
                                                {% for trabajador in trabajadores %}
                                                <option value="{{ trabajador[0] }}">{{ trabajador[2] }}</option>
                                                {% endfor %}
                                            </select>
                                            <select class="custom-select" name="selectNuevoTrabajador" id="selectNuevoTrabajador">
                                                <option value="{{ tarea[1] }}">{{ tarea[12] }}</option>
                                                {% for trabajador in trabajadores %}
                                                <option value="{{ trabajador[0] }}">{{ trabajador[2] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Departamento</label>
                                            <input type="text" class="form-control" name="txtDepartamento" id="txtDepartamento" aria-describedby="helpId" value="{{ tarea[13] }}" disabled>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Estado</label>
                                            <select class="custom-select" name="selectEstado" id="selectEstado" hidden>
                                                <option value="{{ tarea[6] }}">{{ tarea[6] }}</option>
                                                <option value="Por empezar">Por empezar</option>
                                                <option value="En proceso">En proceso</option>
                                                <option value="Finalizada">Finalizada</option>
                                            </select>
                                            <select class="custom-select" name="selectNuevoEstado" id="selectNuevoEstado">
                                                <option value="{{ tarea[6] }}">{{ tarea[6] }}</option>
                                                <option value="Por empezar">Por empezar</option>
                                                <option value="En proceso">En proceso</option>
                                                <option value="Finalizada">Finalizada</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Prioridad</label>
                                            <label for="selectPrioridad"></label>
                                            <select class="custom-select" name="selectPrioridad" id="selectPrioridad" hidden>
                                                <option value="{{ tarea[7] }}">{{ tarea[7] }}</option>
                                                <option value="Baja">Baja</option>
                                                <option value="Media">Media</option>
                                                <option value="Alta">Alta</option>
                                            </select>
                                            <select class="custom-select" name="selectNuevaPrioridad" id="selectNuevaPrioridad">
                                                <option value="{{ tarea[7] }}">{{ tarea[7] }}</option>
                                                <option value="Baja">Baja</option>
                                                <option value="Media">Media</option>
                                                <option value="Alta">Alta</option>
                                            </select>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-success">Actualizar</button>
                                            <a href="/admin/tareas/" class="btn btn-primary btn-login">Cerrar</a>
                                        </div>
                                     </div>
                                    </div>
                               </form>
                        </div>
                    </div>
                </div>
                <!--Modal Editar Trabajador-->
                <div id="modaleditTrabajador{{ datosTrabajador[0] }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="cabecera-modales"><h4>Editar Trabajador: {{ datosTrabajador[3] }}</h4></div>
                                <form action="/admin/trabajadores/actualizar" method="post">
                                    <div class="form-group">
                                        <input hidden type="text" class="form-control" name="txtId" id="txtIdTrabajador" aria-describedby="helpId" value="{{ datosTrabajador[0] }}">
                                        <input hidden type="text" class="form-control" name="txtIdCT" id="txtIdCT" aria-describedby="helpId" value="{{ datosTrabajador[1] }}">
                                        <label>Nombre</label>

                                        <input type="text" class="form-control" name="txtNombre" id="txtNombre" aria-describedby="helpId" value="{{ datosTrabajador[2] }}" hidden>
                                        <input type="text" class="form-control" name="txtNuevoNombre" id="txtNuevoNombre" aria-describedby="helpId" value="{{ datosTrabajador[2] }}" required>

                                        <label>Departamento</label>
                                        <select class="custom-select" name="selectDepartamento" id="selectDepartamento" hidden>
                                            <option value="{{ datosTrabajador[3] }}">{{ datosTrabajador[3] }}</option>
                                            <option value="Diseño Gráfico">Diseño Gráfico</option>
                                            <option value="Diseño Web">Diseño Web</option>
                                            <option value="Programación">Programación</option>
                                        </select>
                                        <select class="custom-select" name="selectNuevoDepartamento" id="selectNuevoDepartamento" required>
                                            <option value="{{ datosTrabajador[3] }}">{{ datosTrabajador[3] }}</option>
                                            <option value="Diseño Gráfico">Diseño Gráfico</option>
                                            <option value="Diseño Web">Diseño Web</option>
                                            <option value="Programación">Programación</option>
                                        </select>

                                        <label>Usuario</label>
                                        <input type="text" class="form-control" name="txtUsuario" id="txtUsuario" aria-describedby="helpId" value="{{ datosCuenta[1] }}" hidden>
                                        {% if datosCuenta[1] == session.username %}
                                        <input hidden type="text" class="form-control" name="txtNuevoUsuario" id="txtNuevoUsuario" aria-describedby="helpId" value="{{ datosCuenta[1] }}" required>
                                        <input disabled type="text" class="form-control" name="txtNuevoUsuario" id="" aria-describedby="helpId" value="{{ datosCuenta[1] }}" required>
                                        {% else %}
                                        <input type="text" class="form-control" name="txtNuevoUsuario" id="txtNuevoUsuario" aria-describedby="helpId" value="{{ datosCuenta[1] }}" required>
                                        {% endif %}

                                        <label>Email</label>
                                        <input type="email" class="form-control" name="txtEmail" id="txtEmail" aria-describedby="helpId" value="{{ datosCuenta[2] }}" autocomplete="off" hidden>
                                        <input type="email" class="form-control" name="txtNuevoEmail" id="txtNuevoEmail" aria-describedby="helpId" value="{{ datosCuenta[2] }}" autocomplete="off" required>

                                        <label>Contraseña</label>
                                        <input type="password" class="form-control" name="txtPass" id="txtPass" aria-describedby="helpId" value="{{ datosCuenta[3] }}" autocomplete="off" hidden>
                                        <input type="password" class="form-control" name="txtNuevoPass" id="txtNuevoPass" aria-describedby="helpId" value="{{ datosCuenta[3] }}" autocomplete="off" required>

                                        <label>Nivel Acceso</label>
                                        <select class="custom-select" name="selectNivel" id="selectNivel" hidden>
                                            <option value="{{ datosCuenta[4] }}">{{ datosCuenta[4] }}</option>
                                            <option value="Admin">Admin</option>
                                            <option value="Trabajador">Trabajador</option>
                                            <option value="Cliente">Cliente</option>
                                        </select>
                                        <select class="custom-select" name="selectNuevoNivel" id="selectNuevoNivel" required>
                                            <option value="{{ datosCuenta[4] }}">{{ datosCuenta[4] }}</option>
                                            <option value="Admin">Admin</option>
                                            <option value="Trabajador">Trabajador</option>
                                            <option value="Cliente">Cliente</option>
                                        </select>
                                        <button type="submit" class="btn btn-success">Actualizar</button>
                                        <a href="/admin/tareas/" class="btn btn-primary">Cerrar</a>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </table>
    </div>
</div>
{% endblock %}